<a href="https://colab.research.google.com/github/patriciagaitan21/Progra-lll-USSS017122/blob/main/practicas_en_clases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = 5
num2 = 7.5
resp = num1 + num2
print("La suma de", num1, " + ", num2, "=", resp)

In [ ]:
varLogica = False

print("Variable Booleana: ", varLogica)

In [ ]:
nombre = "Ana Patricia"
print("Mi Nombre: ", nombre, "Iniciales: ", nombre[0], nombre[5], "Longitud: ", len(nombre) )
print("Primer Nombre: ", nombre[0:5])
print("Primer Nombre: ", nombre[:5])
print("Apellido: ", nombre[5:len(nombre)])
print("Apellid: ", nombre[5:])
print("Apellido: ", nombre[-9:])

In [ ]:
print(type(num1))
print(type(num2))
print(type(varLogica))
print(type(nombre))

In [ ]:
num1 = float(input ("Num 1: "))
num2 = float(input ("Num 2: "))
resp = num1 + num2
print("La suma es: ", resp)

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("N4.26um 2: "))
resp = suma(num1, num2)
print(resp)

In [ ]:
num1 = float(input ("Num 1: "))
num2 = float(input ("Num 2: "))
resp = num1 - num2
print("La resta es: ", resp)

FUNCIONES DE USUARIO

Convertir grados celsius a farenheit.

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir(c))

In [ ]:
def convertir(f):
  return 32 + f*5/9

In [ ]:
f = float(input("Farenheit: "))
print("C: ", convertir(f))

In [ ]:
def convertir(f):
  return (f-32)*5/9+273.15

In [ ]:
f = float(input("kelvin: "))
print("k: ", convertir(f))

CALCULAR EL SUELDO MENSUAL

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print( "Sueldo: ", s, "ISR: ", isr, s*0.9075-isr )

FUNCIONES LAMBDA

FUNCIONES PRECONTRUIDAS MAP, FILTER, FIND, REDUCE, ETC.

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data = [1,2,3,4,5]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

In [ ]:
resp = filter(lambda n:n>2, data)
print( list(resp) )

In [ ]:
resp = functools.reduce(lambda a,n:a+n, data)
print(resp)

TUPLAS

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

DICCIONARIOS => JSON

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

LISTAS

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

[8, 125, 216, 512, 729]

In [ ]:
data = [2,5,6,8,9]

In [ ]:
f = map(lambda c:c*9/5 + 32, data)
print( list(f))

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
pares = filter(lambda n:n%2==0, data)
print( list(pares))

[2, 6, 8]

In [ ]:
impares = filter(lambda n:n%2!=0, data)
print( list(impares))

[5, 9]

CICLOS FOR

In [ ]:
for item in data:
  print(item)

WHILE

In [ ]:
i=0
n = len(data)
while i<n:
  print( data[i])
  i+=1

2
5
6
8
9

TABLA DE MULTIPLICAR

In [ ]:
n = int(input("N Tabla: "))

for i in range(1,11):
 print( n, "x", i, "=", n*i )

N Tabla: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
edad = int(input("Edad: "))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("Soy un niño")
elif edad<18:
  print("Soy un adolescente")
elif edad<65:
  print("Soy mayor de edad")
elif edad<85:
  print("Soy un adulto mayor")
else:
  print("Larga vida")

Edad: 11
Soy un niño

OBTENER EL NUMERO MAYOR DE UNA LISTA DE 10 DIGITOS.

In [ ]:
lista = [5,8,9,15,7,9,2,3, 2, 1]

In [ ]:
mayor = 0
for num in lista:
  if num>mayor:
    mayor = num
print("El numero mayor de la lista: ", lista, "es: ", mayor)

El numero mayor de la lista:  [5, 8, 9, 15, 7, 9, 2, 3, 2, 1] es:  15

EL numero mayor de la lista: [5,  8,  9,  15,  7,  9,  3,  2,  1]  es:  15

In [ ]:
mayor = 0
i=0
n=len(lista)
while i<n:
  if lista[i]>mayor:
    mayor = lista[i]
    i+=1
    print(mayor)

5
8
9
15

**Escribri un programa que oida la nota de un exmamen (0-10), e impreima por pantalla la calificacion en formato: "Suspenso" si la nota es menor a 5, "Aprobado" si es entre 5 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10**

In [ ]:
nota = float(input("Nota: "))
if(nota<0 or nota>10):
  print("Nota invalida")
elif(nota<5):
  print("SUPENSO")
elif(nota<7):
  print("APROBADO")
elif(nota<9):
  print("NOTABLE")
elif(nota<10):
  print("SOBRESALIENTE")
else:
  print("HONORABLE")

Escribe un programa que muestre la secuencia fibonacci

In [ ]:
limit = int(input("Limit: "))
a=0
b=1
c=0
while c<limit:
 c=a+b
 print(a,"+",b,"=", c)
 b=a
 a=c

Limit: 100
0 + 1 = 1
1 + 0 = 1
1 + 1 = 2
2 + 1 = 3
3 + 2 = 5
5 + 3 = 8
8 + 5 = 13
13 + 8 = 21
21 + 13 = 34
34 + 21 = 55
55 + 34 = 89
89 + 55 = 144

1.Escriba un programa que encuentreb la media aritmetica de una serie de numeros introducidos por el usuario
2.Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabras palindrome: Ana,oso,oro,etc.
3.Escriba un programa que convierta un numero introducido por el usuario a su equivalente en numeros romanos. ejm: 5 -> V

In [ ]:
def convertir_a_romano(numero):
    valores = [1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1]
    simbolos = ["M", "CM", "D", "CD", "C", "XC", "L", "XL", "X", "IX", "V", "IV", "I"]
    numero_romano = ""

    for i in range(len(valores)):
        while numero >= valores[i]:
            numero -= valores[i]
            numero_romano += simbolos[i]

    return numero_romano

def main():
    try:
        numero = int(input("Introduce un número: "))
        if 1 <= numero <= 3999:
            numero_romano = convertir_a_romano(numero)
            print(f"El número romano equivalente es: {numero_romano}")
        else:
            print("Por favor, introduce un número entre 1 y 3999.")
    except ValueError:
        print("Por favor, introduce un número válido.")

if __name__ == "__main__":
    main()

Introduce un número: 30
El número romano equivalente es: XXX

In [ ]:
palabra = input("Ingrese una palabra: ")
palabra = palabra.lower() # Convertir a minúsculas para hacer la comparación sin considerar mayúsculas
palabra = palabra.replace(" ", "") # Eliminar espacios en blanco

inversa = palabra[::-1]  # Obtener la versión invertida de la palabra


if palabra == inversa:
    print("La palabra es un palíndrome.")
else:
    print("La palabra no es un palíndrome.")

Ingrese una palabra: ana
La palabra es un palíndrome.

In [ ]:
numeros = []

for i in range(4):
    numero = float(input(f"Ingrese el número {i + 1}: "))
    numeros.append(numero)

media = sum(numeros) / 4
print(f"La media aritmética es: {media}")

Ingrese el número 1: 10
Ingrese el número 2: 20
Ingrese el número 3: 15
Ingrese el número 4: 25
La media aritmética es: 17.5

PROGRAMACION ORIENTADA A OBJETOS.

CLASE

In [ ]:
class Calculadora:
  def sumar(sefl, num1, num2):
    return num1 + num2

INSTANCIA DE UNA CLASE

In [ ]:
objCalculadora = Calculadora()

OBJETO

In [ ]:
print( "La suma de 5 + 3 = ", objCalculadora.sumar(5,3) )

Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6%), ISR(Segun tabla) e imprima el total deducciones y sueldo neto.

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
  sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print( "Sueldo: ", sueldo(numHrs, valorXhr))
print( "ISR: ", isr, s*0.9075-isr )

Calcular el valor a pagar según el numero de metros consumidos de agua potable.

In [ ]:
def calcularValoraPagar(mtsConsumidos):
  cf = 6
  tarifa2 = 0.45
  tarifa3 = 0.65
  if mtsConsumidos<=18:
      Vap = cf
  elif 19<=mtsConsumidos and mtsConsumidos<=28:
      Vap = cf + (mtsConsumidos-18)*tarifa2
  else:
    Vap = cf + (10*tarifa2) + (mtsConsumidos-28)*tarifa3
  return Vap

In [ ]:
mtsConsumidos = int(input("Ingresa la cantidad de metros consumidos de agua potable: "))
valorTotal = calcularValoraPagar(mtsConsumidos)
print("El total a pagar es: ", valorTotal)

Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matemática para evitar ciclos.

In [ ]:
def generar_tabla_acumulados(n):
    tabla = [(mes, mes * (mes + 1) // 2, (mes - 1) * mes // 2) for mes in range(1, n + 1)]
    return tabla

def mostrar_tabla(tabla):
    print("{:<6}      {:<12}".format("MES", "ACUMULACION"))
    print("---------------------------")
    for fila in tabla:
        print("{:<2}       {} + {} = {}".format(fila[0], fila[0], fila[2], fila[1]))

cantidad_meses = int(input("Ingresa el número de meses para generar la tabla: "))
tabla_acumulados = generar_tabla_acumulados(cantidad_meses)
mostrar_tabla(tabla_acumulados)

Conversores: (10 items como minimo por cada uno)

In [ ]:
class CurrencyConverter:
    def __init__(self, exchange_rates):
        self.exchange_rates = exchange_rates

    def convert(self, amount, from_currency, to_currency):
        if (from_currency, to_currency) in self.exchange_rates:
            conversion_rate = self.exchange_rates[(from_currency, to_currency)]
            converted_amount = amount * conversion_rate
            return converted_amount
        else:
            return "Tasa de cambio no encontrada."

class LengthConverter:
    def __init__(self, conversion_factors):
        self.conversion_factors = conversion_factors

    def convert(self, value, from_unit, to_unit):
        if (from_unit, to_unit) in self.conversion_factors:
            conversion_factor = self.conversion_factors[(from_unit, to_unit)]
            converted_value = value * conversion_factor
            return converted_value
        else:
            return "Unidades no reconocidas."


class VolumeConverter:
    def __init__(self, conversion_factors):
        self.conversion_factors = conversion_factors

    def convert(self, value, from_unit, to_unit):
        if (from_unit, to_unit) in self.conversion_factors:
            conversion_factor = self.conversion_factors[(from_unit, to_unit)]
            converted_value = value * conversion_factor
            return converted_value
        else:
            return "Unidades no reconocidas."


class MassConverter:
    def __init__(self, conversion_factors):
        self.conversion_factors = conversion_factors

    def convert(self, value, from_unit, to_unit):
        if (from_unit, to_unit) in self.conversion_factors:
            conversion_factor = self.conversion_factors[(from_unit, to_unit)]
            converted_value = value * conversion_factor
            return converted_value
        else:
            return "Unidades no reconocidas."

class StorageConverter:
    def __init__(self, conversion_factors):
        self.conversion_factors = conversion_factors

    def convert(self, value, from_unit, to_unit):
        if (from_unit, to_unit) in self.conversion_factors:
            conversion_factor = self.conversion_factors[(from_unit, to_unit)]
            converted_value = value * conversion_factor
            return converted_value
        else:
            return "Unidades no reconocidas."

class TimeConverter:
    def __init__(self, conversion_factors):
        self.conversion_factors = conversion_factors

    def convert(self, value, from_unit, to_unit):
        if (from_unit, to_unit) in self.conversion_factors:
            conversion_factor = self.conversion_factors[(from_unit, to_unit)]
            converted_value = value * conversion_factor
            return converted_value
        else:
            return "Unidades no reconocidas."

class AreaConverter:
    def __init__(self, conversion_factors):
        self.conversion_factors = conversion_factors

    def convert(self, value, from_unit, to_unit):
        if (from_unit, to_unit) in self.conversion_factors:
            conversion_factor = self.conversion_factors[(from_unit, to_unit)]
            converted_value = value * conversion_factor
            return converted_value
        else:
            return "Unidades no reconocidas."

class AppleConverter:
    def __init__(self, conversion_factors):
        self.conversion_factors = conversion_factors

    def convert(self, value, from_unit, to_unit):
        if (from_unit, to_unit) in self.conversion_factors:
            conversion_factor = self.conversion_factors[(from_unit, to_unit)]
            converted_value = value * conversion_factor
            return converted_value
        else:
            return "Unidades no reconocidas."

class TaskConverter:
    def __init__(self, conversion_factors):
        self.conversion_factors = conversion_factors

    def convert(self, value, from_unit, to_unit):
        if (from_unit, to_unit) in self.conversion_factors:
            conversion_factor = self.conversion_factors[(from_unit, to_unit)]
            converted_value = value * conversion_factor
            return converted_value
        else:
            return "Unidades no reconocidas."


exchange_rates = {
    ('USD', 'EUR'): 0.85,
    ('USD', 'GBP'): 0.73,
    ('USD', 'JPY'): 110.0,
    ('USD', 'BOL'): 6.91,
    ('USD', 'BAL'): 1.00,
    ('USD', 'COL'): 8.75,
    ('USD', 'MEX'): 17.11,
    ('USD', 'RD'):  56.63,
    ('USD', 'ARG'): 349.95,
    ('USD', 'BRA'): 4.98,

}
conversion_factors_length = {
    ('m', 'ft'): 3.28084,
    ('ft', 'm'): 0.3048,
    ('m', 'km'): 0.001,
    ('km', 'cm'): 100,
    ('centimetro', 'milimetro'): 1000,
    ('milimetro', 'micrometro'): 1000,
    ('micrometro', 'yarda'): 1.0936e-6,
    ('yarda', 'pulgada'): 35.99956224,
    ('pulgada', 'pie'): 0.08333232,
    ('pie', 'milla nautica'): 0.0001645768324147,
}

conversion_factors_volume = {
    ('litro', 'galon'): 0.264172,
    ('galon', 'litro'): 3.78541,
    ('litro', 'cuarto'): 1.05669,
    ('cuarto', 'pinta'): 1.05669,
    ('pinta', 'taza'): 1.9715719793088,
    ('taza', 'onza'): 1.9715719793088,
    ('onza', 'cucharada'): 2.0000033899999589693,
    ('cucharada', 'metro cubico'): 1.478678984481600151e-5,
    ('metro cubico', 'mililitro'): 1000001.6949999795761,
    ('mililitro', 'pie cubico'): 3.53147265798479579e-5,

}

conversion_factors_mass = {
    ('kg', 'lb'): 2.20462,
    ('lb', 'kg'): 0.453592,
    ('libra', 'gramo'): 453.592,
    ('gramo', 'miligramo'): 999.9991843,
    ('miligramo', 'tonelada larga'): 9.842057247938e-10,
    ('tonelada larga', 'tonelada corta'): 1.1199990864160045412,
    ('tonelada corta ', 'Stone'): 142.85702632857200456,
    ('Stone', 'lb'): 13.999988580200058763,
    ('lb', 'onza'): 15.999986948800065889,
    ('onza', 'gramo'): 28.34950000029410333,

}

conversion_factors_storage = {
    ('byte', 'KB'): 0.000976563,
    ('KB', 'byte'): 1024,
    ('bit', 'kilobit'): 0.001,
    ('kilobit', 'kibibit'): 0.976563,
    ('kibibit', 'megabit'): 0.001024000524288,
    ('megabit', 'mebibit'): 0.95367480468749998845,
    ('mebibit', 'gigabit'): 0.0010485765368709119415,
    ('gigabit', 'gibibit'): 0.93132305145263671875,
    ('gibibit', 'terabit'): 0.0010737423737558137674,
    ('terabit', 'byte'): 125000064000,



}

conversion_factors_time = {
    ('segundo', 'minuto'): 0.0166667,
    ('minuto', 'segundo'): 60,
    ('segundo', 'nanosegundo'): 1e+9,
    ('nanosegundo', 'microsegundo'): 0.001,
    ('microsegundo', 'milisegundo'): 0.001,
    ('milisegundo', 'minuto'): 1.6667e-5,
    ('minuto', 'hora'): 0.016667,
    ('hora', 'dia'): 0.0416675,
    ('dia', 'semana'): 0.14286,
    ('semana', 'mes'): 0.2301413368,

}

conversion_factors_area = {
    ('metro', 'pie'): 10.7639,
    ('pie', 'metro'): 0.092903,
    ('metro', 'pie'): 3.28084,
    ('pie', 'centimetro'): 30.48000097536,
    ('centimetro', 'milimetro'): 10.00000032,
    ('milimetro', 'micrometro'): 1000.000032,
    ('micrometro', 'nanometro'): 1000.000032,
    ('nanometro', 'micrometro'): 0.001000000032,
    ('micrometro', 'milla'): 6.21371212121211839e-10,
    ('milla', 'pie'): 5280.0001689599985184,

}

conversion_factors_apple = {
    ('manzana', 'metro'): 0.00404686,
    ('metro', 'manzana'): 247.105,
    ('manzana', 'varas cuadradas'): 10000,
    ('varas cuadradas', 'metro cuadrado'): 0.698896,
    ('metro cuadrado', 'pie'): 3.28084,
    ('pie', 'yarda'): 0.333333,
    ('yarda', 'milla'): 0.00056818125,
    ('milla', 'milimetro'): 1.609e+6,
    ('milimetro', 'centimetro'): 0.09997862483,
    ('centimetro', 'metro'): 0.0099978624830000008272,

}

conversion_factors_task = {
    ('tarea', 'hora'): 8,
    ('hora', 'tarea'): 0.125,
    ('tarea', 'metro'): 628.8,
    ('metro', 'manzana'): 247.105,
    ('manzana', 'metro'): 0.00404686,
    ('yarda', 'milla'): 0.00056818125,
    ('milla', 'milimetro'): 1.609e+6,
    ('milimetro', 'micrometro'): 1000,
    ('micrometro', 'nanometro'): 1000.000032,
    ('nanometro', 'micrometro'): 0.001000000032,

}


#instancias de los conversores
mass_converter = MassConverter(conversion_factors_mass)
volume_converter = VolumeConverter(conversion_factors_volume)
currency_converter = CurrencyConverter(exchange_rates)
length_converter = LengthConverter(conversion_factors_length)
storage_converter = StorageConverter(conversion_factors_storage)
time_converter = TimeConverter(conversion_factors_time)
area_converter = AreaConverter(conversion_factors_area)
apple_converter = AppleConverter(conversion_factors_apple)
task_converter = TaskConverter(conversion_factors_task)



# Menú de opciones
def main():
    print("Conversores:")
    print("1. Conversor de Monedas")
    print("2. Conversor de Longitud")
    print("3. Conversor de Volumen")
    print("4. Conversor de Masa")
    print("5. Conversor de almacenamiento")
    print("6. Conversor de Tiempo")
    print("7. Conversor de Area")
    print("8. Conversor de Manzanas")
    print("9. Conversor de Tareas")


    choice = int(input("Selecciona una opción: "))

    if choice == 1:
        amount = float(input("Ingresa la cantidad a convertir: "))
        from_currency = input("Moneda de origen (ej. USD): ").upper()
        to_currency = input("Moneda de destino (ej. EUR): ").upper()

        converted_amount = currency_converter.convert(amount, from_currency, to_currency)
        print(f"{amount} {from_currency} equivale a {converted_amount:.2f} {to_currency}")
    elif choice == 2:
        value = float(input("Ingresa el valor a convertir: "))
        from_unit = input("Unidad de origen (ej. m): ").lower()
        to_unit = input("Unidad de destino (ej. ft): ").lower()


        converted_value = length_converter.convert(value, from_unit, to_unit)
        print(f"{value} {from_unit} equivale a {converted_value:.2f} {to_unit}")
    elif choice == 4:
        value = float(input("Ingresa el valor a convertir: "))
        from_unit = input("Unidad de origen (ej. kg): ").lower()
        to_unit = input("Unidad de destino (ej. lb): ").lower()

        converted_value = mass_converter.convert(value, from_unit, to_unit)
        print(f"{value} {from_unit} equivale a {converted_value:.2f} {to_unit}")
    elif choice == 3:
        value = float(input("Ingresa el valor a convertir: "))
        from_unit = input("Unidad de origen (ej. litro): ").lower()
        to_unit = input("Unidad de destino (ej. galon): ").lower()

        converted_value = volume_converter.convert(value, from_unit, to_unit)
        print(f"{value} {from_unit} equivale a {converted_value:.2f} {to_unit}")
    elif choice == 5:
        value = float(input("Ingresa el valor a convertir: "))
        from_unit = input("Unidad de origen (ej. byte): ").lower()
        to_unit = input("Unidad de destino (ej. KB): ").upper()

        converted_value = storage_converter.convert(value, from_unit, to_unit)
        print(f"{value} {from_unit} equivale a {converted_value:.2f} {to_unit}")
    elif choice == 6:
        value = float(input("Ingresa el valor a convertir: "))
        from_unit = input("Unidad de origen (ej. segundo): ").lower()
        to_unit = input("Unidad de destino (ej. minuto): ").lower()

        converted_value = time_converter.convert(value, from_unit, to_unit)
        print(f"{value} {from_unit} equivale a {converted_value:.2f} {to_unit}")
    elif choice == 7:
        value = float(input("Ingresa el valor a convertir: "))
        from_unit = input("Unidad de origen (ej. metro): ").lower()
        to_unit = input("Unidad de destino (ej. pie): ").lower()

        converted_value = area_converter.convert(value, from_unit, to_unit)
        print(f"{value} {from_unit} equivale a {converted_value:.2f} {to_unit}")
    elif choice == 8:
        value = float(input("Ingresa el valor a convertir: "))
        from_unit = input("Unidad de origen (ej. manzana): ").lower()
        to_unit = input("Unidad de destino (ej. metro): ").lower()

        converted_value = apple_converter.convert(value, from_unit, to_unit)
        print(f"{value} {from_unit} equivale a {converted_value:.2f} {to_unit}")
    elif choice == 9:
        value = float(input("Ingresa el valor a convertir: "))
        from_unit = input("Unidad de origen (ej. tarea): ").lower()
        to_unit = input("Unidad de destino (ej. hora): ").lower()

        converted_value = task_converter.convert(value, from_unit, to_unit)
        print(f"{value} {from_unit} equivale a {converted_value:.2f} {to_unit}")
    else:
        print("Opción no válida.")





if __name__ == "__main__":
    main()

Realizar un conversor propio, donde especifique el valor de conversión.

In [ ]:
def cajas_to_unidades(cajas):
    return cajas * 25

def unidades_to_cajas(unidades):
    return unidades / 25

def sacos_to_libras(sacos):
    return sacos * 50

def libras_to_sacos(libras):
    return libras / 50

def fardos_to_unidades(fardos):
    return fardos * 5

def unidades_to_fardos(unidades):
    return unidades / 5

def main():
    while True:
        print("1. Convertir Cajas a Unidades")
        print("2. Convertir Unidades a Cajas")
        print("3. Convertir Sacos a Libras")
        print("4. Convertir Libras a Sacos")
        print("5. Convertir Fardos a Unidades")
        print("6. Convertir Unidades a Fardos")
        print("7. Salir")

        choice = input("Elige una opcion: ")

        if choice == '1':
            cajas = float(input("cantidas en Cajas: "))
            unidades = cajas_to_unidades(cajas)
            print(f"{cajas} Cajas es igual a {unidades} Unidades.\n")
        elif choice == '2':
            unidades = float(input("cantidas en Unidades: "))
            cajas = unidades_to_cajas(unidades)
            print(f"{unidades} Unidades es igual a {cajas} Cajas.\n")
        elif choice == '3':
            sacos = float(input("cantidas en Sacos: "))
            libras = sacos_to_libras(sacos)
            print(f"{sacos} Sacos es igual a {libras} Libras.\n")
        elif choice == '4':
            libras = float(input("cantidas en Libras: "))
            sacos = libras_to_sacos(libras)
            print(f"{libras} es igual a {sacos} Sacos.\n")
        elif choice == '5':
            fardos = float(input("cantidas en Fardos: "))
            unidades = fardos_to_unidades(fardos)
            print(f"{fardos} Fardos es igual a {unidades} Unidades.\n")
        elif choice == '6':
            unidades = float(input("cantidas en Unidades: "))
            fardos = unidades_to_fardos(unidades)
            print(f"{unidades} Unidades es igual a {fardos} Fardos.\n")
        elif choice == '7':
            print("Hasta Luego.")
            break
        else:
            print("opcion invalidad. por favor eliga una de las opciones que se muestran.\n")

if __name__ == "__main__":
    main()

EXAMEN PARCIAL_1 Desarrolle un algoritmo en Python que calcule el impuesto a las actividades economicas de acuerdo con la siguiente tabla. El monto de la actividad economica debe ser introducido por el usuario.

In [ ]:
actividad = float(input("Ingrese el monto de la actividad economica:"))

if (actividad >= 0.01 and actividad <=500):#1
  precio = 1.5
  adicional = 0
  op1 = actividad - 0.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 500.01 and actividad <=1000):#2
  precio = 1.5
  adicional = 3
  op1 = actividad - 500.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 1000.01 and actividad <=2000): #3
  precio = 3
  adicional = 3
  op1 = actividad - 1000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 2000.01 and actividad <=3000): #4
  precio = 6
  adicional = 3
  op1 = actividad - 2000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 3000.01 and actividad <=6000): #5
  precio = 9
  adicional = 2
  op1 = actividad - 3000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 8000.01 and actividad <=18000): #6
  precio = 15
  adicional = 2
  op1 = actividad - 8000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 18000.01 and actividad <=30000): #7
  precio = 39
  adicional = 2
  op1 = actividad - 18000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 30000.01 and actividad <=60000): #8
  precio = 63
  adicional = 1
  op1 = actividad - 30000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 60000.01 and actividad <=100000): #9
  precio = 93
  adicional = 0.8
  op1 = actividad - 60000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 100000.01 and actividad <=200000): #10
  precio = 125
  adicional = 0.7
  op1 = actividad - 100000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 200000.01 and actividad <=300000): #11
  precio = 195
  adicional = 0.6
  op1 = actividad - 200000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 300000.01 and actividad <=400000): #12
  precio = 255
  adicional = 0.45
  op1 = actividad - 300000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 400000.01 and actividad <=500000): #13
  precio = 300
  adicional = 0.4
  op1 = actividad - 400000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 500000.01 and actividad <=1000000): #14
  precio = 340
  adicional = 0.30
  op1 = actividad - 500000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

elif (actividad >= 1000000.01 and actividad <=99999999): #15
  precio = 490
  adicional = 0.18
  op1 = actividad - 1000000.01
  opfinal = (op1 / 1000)*adicional+precio
  print("Valor a pagar: ",str(opfinal))

Ingrese el monto de la actividad economica:20000
Valor a pagar:  42.99998